asgiref
backports.zoneinfo
certifi
charset-normalizer
cloudinary
dj-database-url
dj3-cloudinary-storage
Django
django-ckeditor
django-extensions
django-js-asset
gunicorn
idna
Pillow
psycopg2-binary
python-decouple
requests
six
sqlparse
urllib3
whitenoise
