{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Enter new password
{% endblock title %}

{% block content %}
    <div class="container my-5">
        <div class="text-center">
            <h1>Enter new password</h1>
        </div>
        <form method="POST">{% csrf_token %}
            {{ form.password1.errors }}
            {{ form.password2.errors }}
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            <button type="submit">Submit</button>
        </form>
    </div>
    
{% endblock content %}