{% extends 'base.html' %}

  {% block title %}
    <title>Search</title>
  {% endblock title %}


  {% block content %}
  <div>
   
        <div>
          <h2> Search results </h2>
        </div>
        
            <div>
              {% for book in object_list %}
              {% if book %}
              <div>
                <a href="{{book.get_absolute_url}}">
                <div>
                    <img src="{{ book.cover_image.url}}">
                    <div>
                      <p>{{ book.title }} | {{ book.author }}</p>
                    </div>
                </div>
                </a>
              </div>

              {% else %}

              <div>
                <p> No results found </p>
              </div>
              {% endif %}



              {% endfor %}
            
              
             
               
          </div>

  </div>
  {% endblock content%}


    