{% extends 'base.html' %}

{% block title %}
    <title>Cozy Library -Home</title>
{% endblock title %}

{% block content %}
    <div>
        <div>
            <h2>Personally recommended({{ books.count }} books).</h2>
            <a href="#">Hi {{ user.username }}!</a>
        </div>
        <div>
            {% for book in books %}
            <div>
                <a href="{{ book.get_absolute_url }}">
                <div>
                    <img src="{{ book.cover_image.url}}" >
                    <div >
                      <p >{{ book.title }} | {{ book.author }}</p>
                      <p >Genre: {{ book.genre }}</p>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
        <nav>
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page=1" >First</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li><a href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    
{% endblock content %}

