{% extends 'base.html' %}

{% block title %}
    <title>Cozy Library</title>
{% endblock %}


{% block content %}
    <div>
        <div>
            <h2>{{ category | capfirst }}</h2>
        </div>
        <div>
            {% for book in books %}
            <div>
                <a href="{{book.get_absolute_url}}">
                <div style="width: 200px;">
                    <img src="{{ book.cover_image.url}}" >
                    <div>
                      <p>{{ book.title }} | {{ book.author }}</p>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}

